@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --dark-bg: rgb(39, 40, 41);
    --dark-header-bg: rgb(28, 29, 30);
    --dark-separator: rgb(48, 53, 63);

    --link: rgb(32, 113, 243);
    --link-hovered: rgb(115, 169, 255);
}

body {
    background-color: var(--dark-bg);

    font-family: 'Source Code Pro', monospace;
    color: white;
}

a {
    color: var(--link);
    position: relative;
    
    width: fit-content;
    margin:auto;

    text-decoration: none;
    transition: 0.25s;
}
a:hover {
    color: var(--link-hovered);
    font-size: 115%;
}
a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--link-hovered);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
a:hover::before {
    transform: scaleX(1);
}


/* Header */

.header {
    background-color: var(--dark-header-bg);
    min-height: 5rem;
}

.headerLogo {
    max-height: 4rem;
}
.headerLogo::before {
    display: none;
}

/* Divs */

.titleContainer {
    overflow: hidden;
    min-height: 4rem;
    max-height: 4rem;
}

.separator {
    background-color: var(--dark-separator);
    margin: 0 auto;
    padding: 0.01rem;
    margin-top: 1.5rem;
    height: 0.1rem;
    width: 90%;
}

.footer {
    text-align: center;
    margin: 0 auto;
    height: 4rem;
    width: 100%;
}

/* Text */

.titleLink {
    font-size: 24pt;
}
.titleLink:hover {
    font-size: 28pt;
}
.bold {
    font-weight: 1000;
}

/* General */

.flex-justify-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.vcentered {
    line-height: 50%;
}

.hcentered {
    text-align: center;
}

.z1 {
    z-index: 1;
}