@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --dark-bg: rgb(39, 40, 41);
    --dark-header-bg: rgb(28, 29, 30);
    --dark-separator: rgb(48, 53, 63);

    --link: rgb(32, 113, 243);
    --link-hovered: rgb(115, 169, 255);
}

/* Global tags */

body {
    background-color: var(--dark-bg);

    font-family: 'Source Code Pro', monospace;
    color: white;
}

header {
    overflow: hidden;
    position: relative;
    background-color: var(--dark-header-bg);
    min-height: 5rem;
    width: 100%;
}

footer {
    text-align: center;
    margin: 0 auto;
    height: 4rem;
    width: 100%;
}

h1 {
    margin-bottom: 0;
}

a {
    color: var(--link);
    position: relative;
    
    width: fit-content;
    margin:auto;

    text-decoration: none;
    transition: 0.25s;
}
a:hover {
    color: var(--link-hovered);
    font-size: 115%;
}
a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--link-hovered);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
  
a:hover::before {
    transform: scaleX(1);
}

input {
    text-align: center;
    border-radius: 0.2rem;
    border-color: var(--link);
    border-style: dashed;
    min-height: 1.75rem;
    color: var(--link);
    background-color: var(--dark-header-bg);
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Header */

.headerLogo {
    max-height: 5rem;
}

.crosshair {
    position: absolute;
    overflow: hidden;
    animation-name: crosshairAnim;
    animation-duration: 1s;
    transform: scale(0.8);
}
.crosshair:hover {
    transform: scale(0.75);
}
@keyframes crosshairAnim {
    0% {
        margin-left: 3rem;
        margin-top: 1rem;
        filter: blur(0.3rem);
        opacity: 0%;
        transform: translateX(2);
        transform: scale(15) rotate(420deg);
    }
    100% {
        margin-left: 0rem;
        margin-top: 0rem;
        filter: blur(0rem);
        opacity: 100%;
        transform: skew(0deg, 0deg);
        transform: rotate(0deg);
        transform: translateX(0);
        transform: scale(0.8);
    }
}
.whiteS {
    position:absolute;
    transform: scale(0.8);
    animation-name: whiteSAnim;
    animation-duration: 1s;
}
.whiteS::before {
    transform: scale(0);
}
@keyframes whiteSAnim {
    0%, 20% {
        opacity: 0%;
        transform: rotate(0deg);
        transform: scale(0);
    }
    100% {
        opacity: 100%;
        transform: rotate(720deg);
        transform: scale(0.8);
    }
}
.blueS {
    position:absolute;
    transform: scale(0.8);
    animation-name: blueSAnim;
    animation-duration: 0.8s;
}
@keyframes blueSAnim {
    from {
        opacity: 0%;
        transform: rotate(0deg);
        transform: scale(0);
    }
    to {
        opacity: 100%;
        transform: rotate(720deg);
        transform: scale(0.8);
    }
}
.crosshair:hover {
    font-size: 100%;
}
.whiteS:hover {
    font-size: 100%;
}
.blueS:hover {
    font-size: 100%;
}
.crosshair::before {
    background-color: unset;
}
.whiteS::before {
    background-color: unset;
}
.blueS::before {
    background-color: unset;
}

.dementedHead {
    max-height: 4rem;
}
.dementedHead::before {
    background-color: red;
}

.stiliyanHead {
    max-height: 4rem;
}
.stiliyanHead::before {
    background-color: rgb(59, 142, 62);
}

/* Divs */

.paragraph {
    display: flex;
    justify-content: center;
    max-width: 90%;
}

.titleContainer {
    overflow: hidden;
    min-height: 4rem;
    max-height: 4rem;
}

.separator {
    background-color: var(--dark-separator);
    margin: 0 auto;
    padding: 0.01rem;
    margin-top: 1.5rem;
    height: 0.1rem;
    width: 90%;
}

/* Text */

.textAlignLeft {
    text-align: left;
    word-break: break-al;
}
.cryptoAddress {
    word-break: break-al;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.cryptoAddress:hover {
    font-size: 100%;
}
.cryptoAddress::before {
    background-color:rgba(0, 0, 0, 0);
}
.titleLink {
    font-size: 24pt;
}
@media only screen and (max-width: 600px) {
    .titleLink {
      font-size: 16pt;
    }
    .titleLink:hover {
        font-size: 18pt !important;
    }
}
.titleLink:hover {
    font-size: 28pt;
}
.bold {
    font-weight: 1000;
}

/* General */

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.vcentered {
    line-height: 50%;
}

.hcentered {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.z1 {
    z-index: 1;
}